.titleText {
  border-bottom: 1px solid #dfd7da;
}
.box{
  display: flex;
  flex-wrap: wrap;
}
.containerImg {
  width: 9vh;
  height: 8vw;
  padding: 12px;
}
.imgCard {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  object-fit:fill;
}
.information {
  margin-top: 15px;
}
.information p{
  font-size: 15px;
  font-weight: 500;
}
.information a {
  text-decoration:underline;
  color: rgb(16, 120, 225);
}
.information a:hover {
  text-decoration:underline;
  color: rgb(10, 84, 158);
}